<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Permission</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%-include('../public/common/layout_nav') %>

    <main>
      <div class="container">
        <h1>Your role is not a Driver, you don't have access to G2 and G page.</h1>
        <h2>Restart the Application</h2>
        <!-- <a href="/auth/login">
          <button type="submit">Go back to Login Page</button></a
        > -->
      </div>
    </main>
    <!-- footer -->
    <%-include('../public/common/layout_footer') %>
  </body>
</html>
