<!-- footer -->
<footer class="footer">
  <div class="row">
    <div class="footer-wrapper">
      <div class="footer-col">
        <h4>Navigate To</h4>
        <ul class="footer-ul">
          <li><a href="/home">Dashboard</a></li>
          <!-- <li><a href="/g2">G2_Test</a></li>
          <li><a href="/g">G_Test</a></li> -->
          <li><a href="/landing_page">Login / SignUp</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul class="footer-ul">
          <li>
            Email<a href="mailto: drivetest@gmail.com">drivetest@gmail.com</a>
          </li>
          <li>Phone<a href="tel: +1123456789">123 456 7890</a></li>
          <li><a href="tel: +19876543210">987 654 3210</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Connect</h4>
        <div class="social-links">
          <a href="#"><img src="/images/facebook.png" alt="" /></a>
          <a href="#"><img src="/images/instagram.png" alt="" /></a>
          <a href="#"><img src="/images/linkedin.png" alt="" /></a>
          <a href="#"><img src="/images/twitter.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="footer-wrapper">
      <div class="footer-col">
        <p>&copy; Maanush Majmudar - 8872143</p>
      </div>
    </div>
  </div>
</footer>
